<!doctype html>
<html>

<head>
    <title>PJSK data collector</title>
    <link rel="stylesheet" href="/templates/style.css">
</head>

<body>
  <div id="main">
    <header>
        <a href="/"><h1>PJSK-Offline-Preview</h1></a>
        <p>Preview of a self-use project, full of バグ, never ready for production.</p>
    </header>

    <nav class="flexbox">
        <ul>
          <li><a href="/" class="active">Home</a></li>
          <li><a href="/recent">Recent</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
  </div>
</body>

</html>
