{% extends "base.html" %}
{% block content %}
	<h1>recent 50 records</h1>

	<hr>

  <div class="recent-grid-container">
    {% for i in cols %}
      <div style="font-size: 12px">
      {{ i }}
      </div>
    {% endfor %}



  {% for i in recent %}
    {% for j in i.data %}
      <div>
        {% if loop.index0 == 0 %}
          <form method="get" action="/record_update/{{ i.key }}">
            <button type="submit" class="text-btn">{{ j }}</button>
          </form>
        {% else %}
          {{ j }}
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}

  </div>

  <hr>

{% endblock %}
